#wrapper {
   display: flex;
   position: absolute;
   color: $colorWhite;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 25px;
}

.catWrapper {
   width: 250px;
   min-height: 250px;
   border-radius: 20px;
   margin: 10px;
   background-color: $colorCatBGC;
   height: fit-content;
}

.innerWrapper {
   text-align: center;
   border: none;
   border-radius: 0 0 20px 20px;
   padding: 20px;
}

.titleWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.title {
   background-color: $colorTitle;
   border-radius: 20px 20px 0 0;
   border: none;
   padding: 5px;
   text-align: center;
   padding: 20px;
   color: $colorWhite;
   font-size: 20px;
   width: 100%;

   &::placeholder {
      color: $colorWhite;
      font-size: 20px;
   }
}

.innerSvg {
   width: 25px;
}