$colorMain: #126;
$colorWhite: #ffffffff;
$colorBlack: #000000;
$colorCatBGC: #11adb8;
$colorBGC: #213044;
$colorBGCBtn: #74dfd9;
$colorTitle: #ebae08;

html {
   background-color: $colorBGC;
}

.svg {
   width: 50px;
}

/////////////////////   category.ts

#wrapper {
   display: flex;
   position: absolute;
   color: $colorWhite;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 25px;
}

.catWrapper {
   border-radius: 20px;
   margin: 50px;
   background-color: $colorCatBGC;
   height: fit-content;
}

.innerWrapper {
   text-align: center;
   border: none;
   border-radius: 0 0 20px 20px;
   padding: 50px;
}

.titleWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.title {
   background-color: $colorTitle;
   border-radius: 20px 20px 0 0;
   border: none;
   padding: 5px;
   text-align: center;
   padding: 20px;
   color: $colorWhite;
   font-size: 20px;

   &::placeholder {
      color: $colorWhite;
      font-size: 20px;
   }
}

.innerSvg {
   width: 25px;
}

/////////////////////   URL.ts

.deleteBtn,
.acceptBtn,
.editBtn {
   width: 25px;
}

.urlWrapper {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
}

.urlTitle,
.url {
   border: solid 1px #74dfd9;
   background-color: $colorCatBGC;
   padding: 7px;
   border-radius: 20px;
   color: $colorWhite;

   &::placeholder {
      color: $colorWhite;
   }
}

.url {
   margin-bottom: 5px;
}

.newUrl {
   color: inherit;
   margin-bottom: 0.5rem;
}

.urlTitle {
   margin-bottom: 5px;
}

/////////////////////   Overlays

.overlayWrapper {
   position: absolute;
   display: flex;
   flex-direction: column;
   opacity: 0.9;
   padding: 150px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border-radius: 20px;
   background-color: $colorTitle;
   animation: overlayOpacity 0.3s;
   animation-fill-mode: forwards;
}

.closeBtn {
   position: absolute;
   top: -8px;
   right: -8px;
   width: 54px;
}

/////////////////////   Utilities

.display-flex {
   display: flex !important;
}

.justify-c-sb {
   justify-content: space-between;
}

.flex-d-row {
   flex-direction: row;
}

/////////////////////   Animations

@keyframes overlayOpacity {
   from {
      top: 0%;
   }
   to {
      top: 50%;
   }
}
